<h2 class="auth-title">
    Forgot Password
</h2>

<p class="auth-subtitle">
    Enter your email to reset password
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mb-4">

        <label class="form-label">
            Email
        </label>

        <input
            type="email"
            autocomplete="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter your email"
            [ngClass]="{
                'is-invalid': submitted && f.email.errors
            }"
        />

        <div
            *ngIf="submitted && f.email.errors"
            class="invalid-feedback"
        >

            <div *ngIf="f.email.errors.required">
                Email is required
            </div>

            <div *ngIf="f.email.errors.email">
                Invalid email
            </div>

        </div>

    </div>

    <button
        [disabled]="loading"
        class="btn btn-auth-primary w-100"
    >

        <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-2"
        >
        </span>

        SUBMIT

    </button>

    <div class="text-center mt-3">

        <a
            routerLink="../login"
            class="auth-link"
        >
            Back to Login
        </a>

    </div>

</form>